@model StoreSingleProductViewModel;

@{
    
}
<div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mr-auto">
            <div class="border text-center">
              <img src="@Model.ImagePath" alt="Image" class="img-fluid p-5">
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="text-black">@Model.Name</h2>
            <p>@Model.Description</p>
            

            <p><strong class="text-primary h4">$@Model.Price</strong></p>

            
            @if(Model.Count > 0){
            <div class="mb-5">
              <p>Max: @Model.Count</p>
              <div class="input-group mb-3" style="max-width: 220px;">

                <input type="number" min="1" max="@Model.Count" class="form-control text-center" value="1" placeholder=""
                  aria-label="Example text with button addon" aria-describedby="button-addon1">

              </div>
    
            </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <p><a href="cart.html" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a></p>
                }
            }else{
                <p>Oops! The item is out of stock</p>
            }
          </div>
        </div>
      </div>
    </div>