@model IEnumerable<Pharmacy.Models.AdminProductViewModel>

@{
    ViewData["Title"] = "Products Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PagerViewModel pager = new PagerViewModel();

    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <h1>Products table</h1>
</div>
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <h2><a asp-action="Create">Create New</a></h2>
</div>
<div class="col-md-8 offset-md-2">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

        @if (pager.TotalPages > 0)
        {
            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <div class="site-block-27">
                        <ul>
                            @for(var pge = pager.StartPage; pge <= pager.EndPage; pge++){
                                <li class=@(pge==pager.CurrentPage ? "active" : "")>
                                    <a asp-controller="ProductsAdmin" asp-action ="Index" asp-route-PageNumber="@pge">@pge</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
</div>
